.classpath*
.project*
.settings
.DS_Store
*.tar.gz

# Intellij related
**/.idea
**/*.iml
**/*.iws
**/*.ipr
.shelf/
.ideaDataSources/

# VS Code related
.vscode

**/.classpath
**/.project
**/.settings

**/*.swp
**/*.swo
**/*.log

**/build/
.gradle
**/.gradle
gradle.properties.release
test-output
**/test-output
dist
target
tmp
out
**/out
output
/eclipse_build
.project
.classpath
out/
*/bin/
**/mainGeneratedDataTemplate
**/mainGeneratedRest
**/main/snapshot
**.tar.gz
*~
metastore_db/

# generated nodeJs files
node_modules/
package-lock.json

*.out

# generated java files
**/gen-java/
**/generatedJava
temp/
