

# Compiled class file
*.class

# Log file
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# LinkedIn / Gradle
.cache
.gradle

# Explicitly include gradle wrapper jar as part of gradlew migration.  Please check go/gradlew for more information.
!gradle/wrapper/gradle-wrapper.jar

# Excluding gradlew.bat by default as part of gradlew migration.
# Users are free to remove this line and include the batch file if they wish.
# Please check go/gradlew for more references.
gradlew.bat

# Ignore .idea/ as it stores IJ metadata for native IDE import.
.idea/




# Added by mp-maker
build
/*/config
.shelf
*.iml
*.ipr
*.iws
