<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Puppy Crawl//DTD Check Configuration 1.3//EN"
    "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">

<module name="Checker">
  <module name="Header">
    <property name="header" value="// Copyright 2021 LinkedIn Corporation. All rights reserved.&#10;// Licensed under the BSD-2 Clause license.&#10;// See LICENSE in the project root for license information."/>
    <property name="fileExtensions" value="java"/>
  </module>

  <module name="SuppressionFilter">
    <property name="file" value="gradle/checkstyle/suppressions.xml"/>
    <property name="optional" value="true"/>
  </module>
</module>